{% extends "arcgis/base.html" %}

{% block app_navigation_items %}

{% endblock %}

{% block app_content %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>GP Task Population Zonal Stats</title>

    <link rel="stylesheet" href="https://js.arcgis.com/3.20/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">
    <style>
      html, body, #mapDiv {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      #info {
        bottom: 20px;
        color: #444;
        height: auto;
        font-family: arial;
        left: 20px;
        margin: 5px;
        padding: 10px;
        position: absolute;
        text-align: left;
        width: 200px;
        z-index: 40;
      }
    </style>

    <!-- <script>var dojoConfig = { parseOnLoad: true };</script> -->
    <script src="https://js.arcgis.com/3.20/"></script>
    <script>

var app, toolbar, symbol, geomTask;

require(["esri/Color",
              "esri/layers/ArcGISDynamicMapServiceLayer",
              "esri/layers/ArcGISTiledMapServiceLayer",
              "esri/map",
              "esri/graphic",
              "esri/graphicsUtils",
              "esri/tasks/Geoprocessor",
              "esri/tasks/FeatureSet",
              "esri/tasks/LinearUnit",
              "esri/symbols/SimpleMarkerSymbol",
              "esri/symbols/SimpleLineSymbol",
              "esri/symbols/SimpleFillSymbol",
              "dijit/form/Button",
              "esri/toolbars/draw",
              "dojo/parser",
              "dijit/registry",
              "dijit/layout/BorderContainer",
              "dijit/layout/ContentPane", 
              "dijit/form/Button", 
              "dijit/WidgetSet", 
              "dojo/domReady!"
              ],
        function(Color, ArcGISDynamicMapServiceLayer, ArcGISTiledMapServiceLayer, Map, Graphic, graphicsUtils, Geoprocessor, FeatureSet, LinearUnit, SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol,Draw, parser,registry)
        {
          

            var map, gp;

        map = new Map("map", {
          basemap: "streets",
          center: [-15.469, 36.428],
          zoom: 3
        });
        
        map.on("load", createToolbar);


            //var featureSet = new FeatureSet();

          // loop through all dijits, connect onClick event
          // listeners for buttons to activate drawing tools
          // registry.forEach(function(d) {
          // d is a reference to a dijit
          // could be a layout container or a button
          //if ( d.declaredClass === "dijit.form.Button" ) {
            //d.on("click", activateTool);
            
          });


           
        //     dijit.registry.forEach(function(d) {
        //     alert(4)
        //   // d is a reference to a dijit
        //   // could be a layout container or a button
        //   if ( d.declaredClass === "dijit.form.Button" ) {
        //     d.on("click", activateTool);
        //       alert(12);
        //   }
        // });

          
        function activateTool() {
          alert(3);
          var tool = this.label.toUpperCase().replace(/ /g, "_");
          toolbar.activate(Draw[tool]);
          map.hideZoomSlider();
        }

         function createToolbar(themap) {
          alert('creating toolbar');
          toolbar = new Draw(map);
          toolbar.on("draw-end", addToMap);
        }

         function addToMap(evt) {
          alert(1)
          var symbol;
          toolbar.deactivate();
          map.showZoomSlider();
          switch (evt.geometry.type) {
            case "point":
            case "multipoint":
              symbol = new SimpleMarkerSymbol();
              break;
            case "polyline":
              symbol = new SimpleLineSymbol();
              break;
            default:
              symbol = new SimpleFillSymbol();
              break;
          }
          var graphic = new Graphic(evt.geometry, symbol);
          map.graphics.add(graphic);
        }
      
            // gp = new Geoprocessor("http://geoserver.byu.edu:6080/arcgis/rest/services/Hani_AbuHmeidan/VolumeCalc/GPServer/VolumeCalc");

            // gp.setOutputSpatialReference({
            //   wkid: 102100
            // });










           








    //       function run_service(){
    //         var params = {
    //           "Input_raster_or_feature_pour_point_data": featureSet
    //"Dsta
    //          };
    //         gp.submitJob(params, completeCallback, statusCallback);
    //       }

    //       function statusCallback(jobInfo) {
    //         console.log(jobInfo.jobStatus);
    //         if (jobInfo.jobStatus === "esriJobSubmitted") {
    //           $("#volstatus").html("<h7 style='color:blue'><b>Job submitted...</b></h7>");
    //         } else if (jobInfo.jobStatus === "esriJobExecuting") {
    //             $("#volstatus").html("<h7 style='color:red;'><b>Calculating...</b></h7>");
    //         } else if (jobInfo.jobStatus === "esriJobSucceeded") {
    //             $("#volstatus").html("<h7 style='color:green;'><b>Succeed!</b></h7>");
    //         }
    //       }

    //       function completeCallback(jobInfo) {
    //         console.log("getting data");
    //         gp.getResultData(jobInfo.jobId, "VolumeCalc", displayVolume);
    //       }

    //       function displayWatershed(result, messages) {
    //           var polySymbol = new SimpleFillSymbol();
    //           polySymbol.setOutline(new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([0, 0, 0, 0.5]), 1));
    //           polySymbol.setColor(new Color([255, 127, 0, 0.7]));
    //           var features = result.value.features;
    //           for (var f = 0, fl = features.length; f < fl; f++) {
    //               var feature = features[f];
    //               feature.setSymbol(polySymbol);
    //               map.graphics.add(feature);
    //           }
    //           map.setExtent(graphicsUtils.graphicsExtent(map.graphics.graphics), true);
    //       }

    //       //adds public functions to variable app
    //       app = {run_service: run_service};
    // );





</script>
  </head>


  <body class="nihilo">

  <div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline'">
    <div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">

      <button data-dojo-type="dijit/form/Button">Freehand Polyline</button>

    </div>
    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
  </div>


  </body>
</html>




{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}
